<script type="text/javascript">
	//<![CDATA[
	let _status = document.getElementsByClassName('_status');
	XHR.poll(3, '<%=url([[admin]], [[network]], [[socat]], [[status]])%>', {},
		function (x, result) {
			for (let statusView of _status) {
				var id = statusView.parentElement.parentElement.parentElement.id;
				id = id.substr(id.lastIndexOf("-") + 1);
				statusView.setAttribute("style", "font-weight:bold;");
				let running = result?.["luci_socat"]?.["instances"]?.[id]?.["running"] ?? false
				statusView.setAttribute("color", running ? "green" : "red");
				statusView.innerHTML = (running ? '✓' : 'X');
			}
		}
	);
	//]]>
</script>